@import '../../styles/patterns';

#Button:focus {
	outline: none;
}

.button {
	&__red {
		text-align: center;
		border: none;
		height: 45px;
		text-transform: uppercase;
		padding: 0 2rem;
		background-color: $red-first;
		color: #fff;
		font-size: $medium;
		font-weight: 300;
	}

	&__counter {
		text-align: center;
		width: 125px;
		height: 25px;
		border: 0.5px solid #555;
		padding: 0;
		background-color: #333;
		color: #fff;
		font-size: 1em;

		&:focus {
			outline: none;
		}
	}

	&__agregar {
		border: none;
		width: 250px;
		height: 50px;
		background-color: #999;
		color: #fff;
		font-size: 1em;
		margin-top: 20px;

		&:focus {
			outline: none;
		}
	}

	&__footer {
		border: none;
		width: 150px;
		height: 40px;
		background-color: #333;
		color: #fff;
		font-size: 1em;
		border: 2px solid #fff;
		font-weight: 600;
	}
}

.logo {
	width: 117px;

	/* &:focus {
		outline: none;
	}

	&--active {
		color: #fff;
	} */
}

.swal-button {
	background-color: $red-first;
}

.swal-button:not([disabled]):hover {
	background-color: $red-first;
}

@media screen and (min-width: 767px) {
	.logo {
		width: 250px;
	}
}
/* @media screen and (min-width: 1200px) {
}
 */
