@import"../../styles/patterns";

#Error {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p,
    a {
        font-size: $small;
    }
}