@import "../../styles/patterns";

.ProductCard {
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid $gray;
    border-radius: 10px;
    height: 35rem;
    max-width: 31rem;
    text-align: center;
    margin-bottom: 10PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px 20px;

        img {
            width: 195px;
            height: 195px;
            display: block;
            object-fit: cover;
            border-radius: 50% 50%;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;



        &__title {
            font-size: $medium;
            font-weight: $light;
            text-transform: uppercase;
            color: $red-first;
            padding: 0 2rem;

        }

        &__price {
            font-size: $medium;
            font-weight: $bold;
            color: $black-first;
            margin-bottom: 0;
        }

        &__icon {
            width: 2.2rem;
            height: 2.2rem;
            cursor: pointer;


            svg {
                width: 2.2rem;
                height: 2.2rem;
            }
        }
    }
}


@media screen and (min-width:767px) {
    .ProductCard {
        &__text {
            &__icon {
                font-size: $fourth-large;
                font-weight: $bold;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .ProductCard {
        height: 40rem;

        &__text {
            padding-top: 10px;

            &__title {
                font-size: $large;
            }
        }

        &__image {
            img {
                width: 225px;
                height: 225px;
            }
        }
    }
}