@import "../../styles/patterns";

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;


    &__name,
    p,
    a {
        font-size: $small;
        font-weight: 600;
    }

    &__btn {
        margin-bottom: 10px;
    }

}