@import '../../styles/patterns';

.banner {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	&__image {
		width: 100%;
		margin-bottom: 25px;
		&--mobile {
			width: 100%;
		}
	}
	&__content {
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
		margin: 20px 0 80px 0;
	}
	&__titles {
		margin-bottom: 4.5rem;
		text-align: center;

		&__main {
			font-size: 3.5rem;
			font-weight: $bold;
			letter-spacing: 0.25px;
		}

		&__secondary {
			font-size: 2rem;
			font-weight: 300;
		}
	}
}

@media screen and (min-width: 767px) {
	.banner {
		background-image: url('../../assets/images/Home-sintexto.jpg');
		background-color: $white-first;

		height: 500px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		justify-content: center;

		&__image {
			display: none;
		}
		&__content {
			padding-left: 15rem;
			height: max-content;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			margin-top: 0px;
		}
		&__titles {
			margin-bottom: 4.5rem;
			text-align: left;

			&__main {
				font-size: 4rem;
			}

			&__secondary {
				font-size: 3rem;
			}
		}
	}
}

/* @media screen and (min-width: 1200px) {
}
 */
